
@import "header";

@import "general";

@import "footer";

@import "landing-page";

body{
  min-height: 100%;

}

.browse-category {
  width: 100% !important;
}

.document-thumbnail {
  float: left !important;
  height: 0;
  margin: 0 !important;
  padding: 0;
}

.document-thumbnail img {
  max-height: 120px;
  margin-bottom:10px;
}

//style the search screen to have the thumbnail and metadata alin and make it responsive
//TODO: make a proper responsive page
@media screen and (max-width: 768px) {
  #documents.documents-list .document-metadata {
    margin-top: 160px;
  }
}
@media screen and (min-width: 768px) {
  #documents.documents-list .document-metadata {
    margin-left: 200px;
  }

  #documents.documents-list .document {
    min-height: 170px;

  }
}
.nav-heading{
  font-weight: bold;
}