//
//$base_color:#b83b67;
//$base_color_darker:darken($base_color,10%);
//$base_color2:#858682;
$text_header_color_nav:#fff;
$brand-primary: #d11f5d;
//$text_header_color:$base_color2;
//
//
.gradient_base_backcolor{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#348899+0,283b3b+100 */
  background: #348899; /* Old browsers */
  background: -moz-linear-gradient(top,  #348899 0%, #283b3b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #348899 0%,#283b3b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #348899 0%,#283b3b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#348899', endColorstr='#283b3b',GradientType=0 ); /* IE6-9 */
}
//
.navbar-inverse {
  @extend .gradient_base_backcolor;
  border: none;
  a {
    color: #fff !important;

    &:hover, &:focus, &:active {
      color: #ccc !important;
      background-color: $brand-primary !important;
    }

  }
  ul.dropdown-menu{
  a {
    color: #000 !important;

    &:hover {
      color: #ddd !important;
    }

  }
}

}
//
//.image-masthead .navbar {
//  border: 0;
//  border-radius: 0;
//  background-color: rgba(148, 59, 103, 0.05) !important;
//}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .card-title, .card-back .subtitle, .h6 {
  color: #348899;
}

#header-navbar .navbar-brand {
  width: 318px;
}