<% image = document.to_openseadragon(blacklight_config.view_config(:show)) %>
<% my_osd_config = {
          id:"kbOSDInstance",
          showNavigator:true,
          rtl:false,
          initialPage:1,
          defaultZoomLevel:0,
          sequenceMode:true,
          indexPage:[],
          tileSources:image
} %>

<article>
  <%# OpenSeadragon start %>
<div id="kbOSDInstance">
  <div class="kbOSDViewer">
    <div class="kbOSDContent"></div>
    <div class="kbOSDFooter"></div>
  </div>

<script type="text/javascript">
  var kbOSDconfig = [<%= raw  my_osd_config.to_json %>];

  if (kbOSDconfig[0].indexPage.length < 2) { // if there is only one element in the index, then don't show any index
    delete kbOSDconfig[0].indexPage;
  } else {
    $.each(kbOSDconfig[0].indexPage, function (index, indexPage) {
      if ('string' === typeof indexPage.page) {
        index.page = parseInt(index.page, 10);
      }
    });
  }

</script>
<script src="https://static.kb.dk/kbOpenSeadragon/js/KbOSD_bundle.js"></script>
<%# OpenSeadragon end %>
</div>
</article>