<% image = document.to_openseadragon(blacklight_config.view_config(:show)) %>
<% my_osd_config = {
          id:"kbOSDInstance",
          showNavigator:true,
          rtl:false,
          initialPage:"1",
          defaultZoomLevel:"0",
          sequenceMode:true,
          indexPage:[],
          tileSources:image
} %>

<article>
  <%# OpenSeadragon start %>
<div id="kbOSDInstance">
  <div class="kbOSDViewer">
    <div class="kbOSDContent"></div>
    <div class="kbOSDFooter"></div>
  </div>

<script type="text/javascript">
  alert("BLAH");

//  var kbOSDconfig = [<%= escape_javascript my_osd_config.to_s %>];
  var kbOSDconfig = [<%= raw  my_osd_config.to_json %>];

  $.each(kbOSDconfig[0].indexPage, function (index, indexPage) {
    if ('string' === typeof indexPage.page) {
      index.page = parseInt(index.page, 10);
    }
  });

</script>
<script src="https://static.kb.dk/kbOpenSeadragon/js/KbOSD_bundle.js"></script>
<%# OpenSeadragon end %>
</div>
</article>